In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib_inline.backend_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')

In [2]:
df = pd.read_csv('../../../Datasets/Apartement Rent Data/apartments_for_rent_classified_100K/apartments_for_rent_classified_100K.csv',
                 sep=';',
                 encoding='cp1252',
                low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99492 non-null  object
 4   amenities      83448 non-null  object
 5   bathrooms      99429 non-null  float64
 6   bedrooms       99368 non-null  float64
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   39068 non-null  object
 11  price          99491 non-null  float64
 12  price_display  99491 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        7943 non-null   object
 16  cityname       99190 non-null  object
 17  state          99190 non-null  object
 18  latitude       99467 non-null  float64
 19  longitude      99467 non-null  float64
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 16.7+ MB

In [4]:
eti_cols = ['bathrooms','bedrooms','square_feet']

In [5]:
df = df[eti_cols]

## Interquartile Range

In [6]:
IQR = df.quantile(0.75) - df.quantile(0.25)

end_tail = (df.quantile(0.75) + 3 * IQR).to_dict()

In [7]:
end_tail

{'bathrooms': 5.0, 'bedrooms': 5.0, 'square_feet': 2273.0}

In [8]:
df_t = df.fillna(end_tail)

## Mean and STD

In [11]:
end_tail = (df.mean() + 3*df.std()).astype(int).to_dict()

In [12]:
end_tail

{'bathrooms': 3, 'bedrooms': 3, 'square_feet': 2209}

In [13]:
df_t = df.fillna(end_tail)