In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib_inline.backend_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')

In [2]:
df = pd.read_csv('../../../Datasets/Apartement Rent Data/apartments_for_rent_classified_100K/apartments_for_rent_classified_100K.csv',
                 sep=';',
                 encoding='cp1252',
                low_memory=False)

In [15]:
df.dropna(subset='bathrooms',inplace=True)

In [14]:
df.loc[0,'bathrooms']

1.0

In [47]:
df.bedrooms.dropna().sample(1,random_state=0).iloc[0]

2.0

In [27]:
df[df.bedrooms.isna()]['bathrooms'].apply(lambda x: df.bedrooms)

790      2
1653     3
5024     2
7212     1
7280     1
        ..
96832    1
96851    1
97943    1
98703    1
99416    1
Name: bathrooms, Length: 123, dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99429 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99429 non-null  int64
 1   category       99429 non-null  object
 2   title          99429 non-null  object
 3   body           99429 non-null  object
 4   amenities      83426 non-null  object
 5   bathrooms      99429 non-null  float64
 6   bedrooms       99429 non-null  float64
 7   currency       99429 non-null  object
 8   fee            99429 non-null  object
 9   has_photo      99429 non-null  object
 10  pets_allowed   39052 non-null  object
 11  price          99428 non-null  float64
 12  price_display  99428 non-null  object
 13  price_type     99429 non-null  object
 14  square_feet    99429 non-null  int64
 15  address        7912 non-null   object
 16  cityname       99131 non-null  object
 17  state          99131 non-null  object
 18  latitude       99404 non-null  float64
 19  longitude      99404 non-null  float64
 20  source         99429 non-null  object
 21  time           99429 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 17.4+ MB

In [55]:
df.isna().mean()

id               0.000000
category         0.000000
title            0.000000
body             0.000000
amenities        0.160949
bathrooms        0.000000
bedrooms         0.000000
currency         0.000000
fee              0.000000
has_photo        0.000000
pets_allowed     0.607237
price            0.000010
price_display    0.000010
price_type       0.000000
square_feet      0.000000
address          0.920426
cityname         0.002997
state            0.002997
latitude         0.000251
longitude        0.000251
source           0.000000
time             0.000000
dtype: float64

In [49]:
df.loc[df.bedrooms.isna(),'bedrooms'] = df[df.bedrooms.isna()]['bathrooms'].apply(lambda x:
                                                                              df.bedrooms.dropna().sample(1,random_state=int(x)).iloc[0])

In [53]:
def random_sample_imputation(df,col_name):
    df.loc[df[col_name].isna(),col_name] = df[df[col_name].isna()]['bathrooms'].apply(lambda x:
                                                                                    df[col_name].dropna().sample(1,random_state=int(x)).iloc[0])
    return df

In [56]:
df = random_sample_imputation(df,'amenities')

In [57]:
df.amenities.isna().mean()

0.0

In [58]:
cityname_na = df.cityname.isna()

In [59]:
df.cityname.unique()

array(['Redondo Beach', 'Newport News', 'Raleigh', ..., 'Vestal',
       'Albertville', 'Willow Grove'], dtype=object)

In [64]:
df[cityname_na]['bathrooms']

5340     1.0
5464     1.0
5501     1.5
5502     1.5
5503     2.5
        ...
79937    2.0
79938    2.0
79940    1.0
79941    1.0
83416    1.0
Name: bathrooms, Length: 298, dtype: float64

In [67]:
df = random_sample_imputation(df,'cityname')

In [81]:
df[cityname_na & (df.bathrooms == 1.0)]['cityname'].unique()

array(['San Marcos'], dtype=object)

In [82]:
df[cityname_na & (df.bathrooms == 2.5)]['cityname'].unique()

array(['San Jose'], dtype=object)